.items {
    list-style-type: none;
    padding: 0 7%;
    position: fixed;
    height: -webkit-fill-available;
    margin-top: 4rem;
    font-size: larger;
    text-align: left;
}

ul li:last-child {
    height: -webkit-fill-available;
}

.h5,
h5 {
    font-size: 25px;
}

@media screen and (max-width: 561px) {
    .items {
        padding-left: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .hide {
        display: none;
    }

    .items {
        text-align: center;
        padding-right: 5%;
    }
    .list-button {
        display: none;
    }
    .list-ava {
        display: inline-block !important;
        background-color: deeppink;
        border: deeppink;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        
    }
}

.nav-link {
    color: grey;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: deeppink;
    background-color: black;
    border: 0px;
    border-bottom: 1px solid deeppink;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: rgba(255, 20, 145, 0.3);
    color: deeppink;
    border: 0px;
}

.list-button {
    background-color: deeppink;
    border: deeppink;
    border-radius: 50px;
    width: -webkit-fill-available;
}

.list-ava {
    display: none;
}
