.items {
    list-style-type: none;
    padding: 0 7%;
    position: fixed;
    height: -webkit-fill-available;
    margin-top: 4rem;
    font-size: larger;
    text-align: left;
}

ul li:last-child {
    height: -webkit-fill-available;
}

.h5,
h5 {
    font-size: 25px;
}

@media screen and (max-width: 561px) {
    .items {
        padding-left: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .hide {
        display: none;
    }

    .items {
        text-align: center;
        padding-right: 5%;
    }
    .list-button {
        display: none;
    }
    .list-ava {
        display: inline-block !important;
        background-color: deeppink;
        border: deeppink;
        border-radius: 50px;
        width: 50px;
        height: 50px;
    }
}

.nav-link {
    color: grey;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: deeppink;
    background-color: black;
    border: 0px;
    border-bottom: 1px solid deeppink;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: rgba(255, 20, 145, 0.3);
    color: deeppink;
    border: 0px;
}

.list-button {
    background-color: deeppink;
    border: deeppink;
    border-radius: 50px;
    width: -webkit-fill-available;
}

.list-ava {
    display: none;
}

.popover-main {
    border-radius: 10px;
    background: #000000;
    box-shadow: 1px 1px 6px #ffffff33, -1px -1px 6px #ffffff33;
    border: 1px solid gray;
}

#editPro:hover {
    background-color: rgba(255, 20, 145, 0.2) !important;
}
.topBar {
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1000;
    border: 1px solid rgba(128, 128, 128, 0.53);
}
.search {
    position: sticky;
    top: 5px;
    margin-top: 5px;
}

.rbt-menu > .dropdown-item {
    color: white;
}

.modal.show .modal-dialog {
    height: -webkit-fill-available;
}

.modal-content {
    background-color: black !important;
    border: 1px solid rgba(128, 128, 128, 0.53) !important;
}

.message-flow {
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-toggle::after {
    display: none !important;
}

#messageNavBar {
    justify-content: space-between;
}

#messInfoBtn {
    color: deeppink;
    font-size: x-large;
}

.dropdown-menu.show {
    border: 1px solid rgba(128, 128, 128, 0.53) !important;
    margin-left: -100px !important;
}

.dropdown-menu {
    padding: 0.25rem 0 !important;
}

.nav-link {
    padding: 0 15px 0 0;
}
