.tweet-button {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 50px !important;
  border-color: deeppink;
  background-color: deeppink;
}

.login-page {
  text-align: -webkit-center;
}
.p-float-label {
  display: table !important;
}

.nav-tabs .nav-link {
  width: 50%;
}

.homeButton {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  width: inherit;
}
#replyButton,
#likeButton {
  color: grey;
}
@media screen and (max-width: 993px) {
  .searchHome {
    display: none;
  }
}

.form-control::placeholder {
  color: lightgray;
}

.list-ava:hover,
.list-button:hover,
.tweet-button:hover {
  background-color: #d5137c !important;
}

.tweet-button:hover {
  border: 1px solid #d5137c;
}
