.tweet-button {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 50px !important;
  border-color: purple;
  background-color: purple;
}

.login-page {
  text-align: -webkit-center;
}
.p-float-label {
  display: table !important;
}

.nav-tabs .nav-link {
  width: 50%;
}

.homeButton {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  width: inherit;
}
#likeButton {
  color: rgba(255, 0, 0, 0.767);
}
#replyButton {
  color: rgba(0, 0, 0, 0.767);
}

@media screen and (max-width: 993px) {
  .searchHome {
    display: none;
  }
}
